<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
<h2>Database Results getting Routes frequency >=1</h2>
<ul>
<% results.forEach(function(r) { %>
<li><%= r.name %> - <%= r.frequency %> 
  From:(<%=r.start_Longitude %>, <%=r.start_Latitude %> )
  TO:(:(<%=r.end_Longitude %>,<%=r.end_Latitude %>) </li>
<% }); %>
<h2>Test</h2>
</ul>
</div>
</body>
</html>